<div class="bar-chart">
    <nvd3-line-chart
            data="data"
            xAxisTickFormat="xAxisTickFormatFunction()"
            yAxisTickFormat="yAxisTickFormatFunction()"
            x="xFunction()"
            y="yFunction()"
            showXAxis="true"
            showYAxis="true"
            reduceXTicks="true"
            transitionduration="0"
            showLegend="true"
            useInteractiveGuideline="true"
            nodata="Loading Data..."
            tooltips="true">
    </nvd3-line-chart>
</div>